In [26]:
import pandas as pd
import os

In [27]:
pwd

'/Users/Vinz/Desktop/Pandas-Challenge'

In [28]:
csv_path = "HeroesOfPymoli/pymoli_data.csv"
pymoli_df = pd.read_csv(csv_path)

pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [29]:
Total_Players = len(pymoli_df["SN"].value_counts())
Total_Players
pd.DataFrame({"Total Player" : [Total_Players]})

   Total Player
0           576

In [30]:
Unique_items = len(pymoli_df["Item Name"].unique())
Unique_items

179

In [31]:
Average = pymoli_df["Price"].mean()
Average

3.050987179487176

In [32]:
purchase_count = len(pymoli_df["Purchase ID"].value_counts())
purchase_count

780

In [33]:
total_revenue = pymoli_df["Price"].sum()
total_revenue

2379.77

In [34]:
Purchasing_analysis = pd.DataFrame({"Number of Unique Items" : [Unique_items], 
                                    "Average Price" : [Average], "Number of Purchases" : [purchase_count], "Total Revenue" : [total_revenue]})
Purchasing_analysis

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [35]:
players = pymoli_df.loc[:,["SN","Age", "Gender"]]
players = players.drop_duplicates()
gender_count = players["Gender"].value_counts()
#gender_percentage = (gender_count / Total_Players) * 100
#gender_percentage
#insert DF
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [36]:
gender_percentage = (gender_count / Total_Players) * 100
gender_percentage
#insert DF

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [37]:
Gender_Demographics = pd.DataFrame(gender_count)
Gender_Demographics["Percentage of Players"] = gender_percentage
Gender_Demographics

                       Gender  Percentage of Players
Male                      484              84.027778
Female                     81              14.062500
Other / Non-Disclosed      11               1.909722

In [38]:
price_by_gender = pymoli_df.groupby(["Gender"]).sum()["Price"]
price_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [39]:
average_purchase_gender = pymoli_df.groupby(["Gender"]).mean()["Price"]
average_purchase_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [40]:
purchase_count_gender = pymoli_df.groupby(["Gender"]).count()["Price"]
purchase_count_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [41]:
total_purchase_gender = price_by_gender / gender_count
total_purchase_gender

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [42]:
purchasing_analysis = pd.DataFrame({"Purchase Count" : purchase_count_gender,
                                    "Average Purchase Price" : average_purchase_gender,
                                     "Total Purchase Value" : price_by_gender,
                                    "AVG Total Purchase per Person" : total_purchase_gender})
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,AVG Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [43]:
purchasing_analysis[Average Purchase Price"].map("${:,.2f}".format)
#repreat for other columns

SyntaxError: invalid syntax (<ipython-input-43-649606276e4d>, line 1)

In [44]:
purchasing_analysis["Average Purchase Price"] = purchasing_analysis["Average Purchase Price"].map("${:,.2f}".format)
#repeat for other columns

In [45]:
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,AVG Total Purchase per Person
Gender,,,,
Female,113,$3.20,361.94,4.468395
Male,652,$3.02,1967.64,4.065372
Other / Non-Disclosed,15,$3.35,50.19,4.562727